.ql-snow.ql-toolbar {
    display: block;
    background: #eaecec;
  }
  
  #title .ql-editor{
    height: 100px;
  }

  .ql-editor {
    height: 750px;
    overflow-y: scroll;
    resize: vertical;
  }